name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
        cache: false

    - name: Sync workspace
      run: |
        go work sync
        go list -f '{{.Dir}}' -m | xargs -L1 go mod tidy -C

    - name: Run tests
      run: ./scripts/test.sh

    - name: Run coverage
      run: ./scripts/coverage.sh

    - name: Upload coverage reports
      uses: codecov/codecov-action@v4
      if: always()
      with:
        directory: ./coverage/
        fail_ci_if_error: false
